@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  /* background: radial-gradient(
  circle at top,
  #ffffff,
  #f3f4f6,
  #e5e7eb
); */
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

/* NewSHimmer */
/* cursor blink */
.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* shimmer effect */
.shimmer-text {
  background-size: 200% auto;
  animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}